@import '../../variables.scss';

button{
    padding: 0.7rem 1.5rem;
    background-color: transparent;
    border: solid 2px $primary_color;
    border-radius: 0.5rem;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s;
    cursor: pointer;

    &:hover{
        background-color: rgba($color: $primary_color, $alpha: 0.3);
    }

    &:active{
        top: 2px;
    }
}